<%= form_with(model: survey, local: true) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Enter Your Name" %>
    <%= form.text_area :name, id: :survey_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :laptop, "Do you own a laptop?" %><br />
<%= form.label :laptop, "Yes", :value => "true"  %>
<%= form.radio_button :laptop, 'yes',:checked => true  %>
<%= form.label :laptop, "No", :value => "false" %>
<%= form.radio_button :laptop, 'No' %> 
  </div>

  <div class="form-group">
    <%= form.select :os, ['No OS', 'No OS', 'Mac OSX', 'Windows 10', 'Windows 7 or below', 'Linux']%>
  </div>

  <div class="form-group">
    <%= form.submit "Submit Your Response", class: "btn btn-primary" %>
  </div>
<% end %>
