<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>Laptop:</strong>
  <%= @survey.laptop %>
</p>

<p>
  <strong>Os:</strong>
  <%= @survey.os %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
